macro_spotify: macro_spotify{
compatible = "zmk,behavior-macro";
label = "macro_spotify";
#binding-cells = <0>;
bindings = <&kp LEFT_COMMAND>, <&kp LEFT_CONTROL>, <&kp S>;
};
macro_vmware: macro_vmware{
compatible = "zmk,behavior-macro";
label = "macro_vmware";
#binding-cells = <0>;
bindings = <&kp LEFT_COMMAND>, <&kp LEFT_CONTROL>, <&kp V>;
};
macro_superhuman: macro_superhuman{
compatible = "zmk,behavior-macro";
label = "macro_superhuman";
#binding-cells = <0>;
bindings = <&kp LEFT_COMMAND>, <&kp LCTRL>, <&kp E>;
};
macro_calendar: macro_calendar{
compatible = "zmk,behavior-macro";
label = "macro_calendar";
#binding-cells = <0>;
bindings = <&kp LEFT_COMMAND>, <&kp LEFT_CONTROL>, <&kp C>;
};
macro_iterm: macro_iterm{
compatible = "zmk,behavior-macro";
label = "macro_iterm";
#binding-cells = <0>;
bindings = <&kp LEFT_COMMAND>, <&kp LEFT_CONTROL>, <&kp I>;
};
macro_chromium: macro_chromium{
compatible = "zmk,behavior-macro";
label = "macro_chromium";
#binding-cells = <0>;
bindings = <&kp LEFT_COMMAND>, <&kp LCTRL>, <&kp G>;
};